[Desktop Entry]
Version=1.0
Type=Application
Name=idea
Comment=
Exec=/opt/idea-IU-192.6603.28/bin/idea.sh
Icon=idea
Path=
Terminal=false
StartupNotify=false
