[Desktop Entry]
Name=IntelliJ IDEA Ultimate Edition
Comment=Intelligent Java IDE
Exec=/opt/idea-IU-192.6603.28/bin/idea.sh
Icon=idea
Terminal=false
StartupWMClass=jetbrains-idea
Type=Application
Categories=Development;IDE;
X-XFCE-Source=file:///usr/share/applications/jetbrains-idea.desktop
Path=
StartupNotify=false
